$colors: (
  white:  #fff,
  black:  #000,
);

$button-colors: (
  red:    #EB5353,
  yellow: #f6da3c,
  green:  #36AE7C,
  blue:   #0E49B5,
  orange: #FFA45B,
  skyblue:#3DB2FF,
  navy:   #187498,
  purple: #b057d3,
)